.dashboard {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  
    .chartSection {
      flex: 2;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h2 {
        text-align: center;
        color: #333;
      }
  
      canvas {
        width: 100%;
        height: 300px;
      }
    }
  
    .latest-medicine {
      flex: 1;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h3 {
        color: #007bff;
        margin-bottom: 15px;
      }
  
      .medicine-details {
        p {
          font-size: 14px;
          color: #555;
  
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
.actions {
margin-bottom: 20px;

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    outline: none;

    &:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}
}

  